<div class="cart-container" ng-controller="CartsController as vm">
  <h1>Cart:</h1>
  <div ng-repeat="product in vm.cart.products">
    <p>{{ product.name }} - ${{product.price}}</p>
  </div>
</div>

<div class="product-container" ng-controller="ProductsController as vm">
  <h1>Products:</h1>
  <div class="product-card" ng-repeat="product in vm.products">
    <h3> {{ product.name }}
    <h5> ${{ product.price }}</h5>
    <p>
      Description:
    </p>
    <p>
      {{ product.description }}
    </p>
  </div>
</div>
